{% extends 'blog/base.html' %}
{%load django_bootstrap5%}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/blog/images/edit-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit %}
            <h1>Edit Post</h1>
            {% else %}
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<form action="" method="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {%csrf_token%}
     
     {%bootstrap_form form%}
     {%bootstrap_button button_type='submit' content="POST"%}
      </div>
    </div>
  </div>
</form>
{% endblock content %}