{%extends 'blog/base.html'%}
{%load django_bootstrap5%}
{%load tags%}

{%block content%}
  <!-- Page Header -->
<!-- {{ ckeditor.load() } -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="{%url 'author-posts-page' author_id=post.author.id %}">{{post.author.first_name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content|safe }}
          <hr>
            {%if user.id == post.author.id%}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{% url 'edit-post-page' pk=post.id%}">Edit Post</a>
            </div>
              {%endif%}


<!--           Comments Area -->

          <form method="post">
            {%csrf_token%}
           <h5>{%bootstrap_form form%}</h5>
           {%bootstrap_button button_type='submit' content="Add Comment"%}
          
          </div>
        </div>
      </div>
      
    </form> 
    
          <div class="col-lg-8 col-md-10 mx-auto comment">
              <ul class="commentList">
                  {%for comment in all_comments%}
                <li>
                    <div class="commenterImage">

                      <img src="{{ comment.author.email | gravatar_url:150 }}">
                    </div>

                    <div class="commentText">
                    {{comment.comment|safe}}
                      <p><span class="date sub-text">comment by: {{comment.author.first_name}}</span></p>
                    </div>
                </li>
                  {%endfor%}
                  
              </ul>
            </div>
</form>



          </div>
      </div>
    </div>
  </article>

  <hr>
  {%endblock content%}